//COLORS
$verydarkblue: hsl(233, 47%, 7%);
$darkblue: hsl(244, 38%, 16%);
$softviolet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$slightlywhite: hsla(0, 0%, 100%, 0.75);
$slightlywhite2:  hsla(0, 0%, 100%, 0.6);